<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from pixner.net/peyamba/peyamba/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Feb 2021 09:40:36 GMT -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/flaticon.css">
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/odometer.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/assets/css/nice-select.css">
  <link rel="stylesheet" href="/assets/css/jquery.animatedheadline.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
  <!-- <link rel="stylesheet" href="assets/css/dark.css"> -->

  <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">

  <title>Peyamba - Dating Website HTML Template</title>


</head>

<body>
  <!-- ==========Preloader========== -->
  <div class="preloader">
    <div class="preloader-inner">
      <div class="preloader-icon">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ==========Preloader========== -->



  <!-- ========== Login & Registation Section ========== -->
  <section class="log-reg">
    <div class="top-menu-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <a href="index.html" class="backto-home"><i class="fas fa-chevron-left"></i> Back to peyamba</a>
          </div>
          <div class="col-lg-7 ">
            <div class="logo">
              <img src="/assets/images/logo2.png" alt="logo">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-end">
        <div class="image">
        </div>
        <div class="col-lg-7">
          <div class="log-reg-inner">
            <div class="section-header">
              <h2 class="title">
                Welcome to PEYAMBA
              </h2>
              <p>
                Let's create your profile! Just fill in the fields below, and
                we’ll get a new account.
              </p>
            </div>
            <div class="main-content">
              <form action="/register/submit-form" method="POST">
                <h4 class="content-title">Profile Details</h4>
                <div class="form-group">
                  <label for="">Real Name*</label>
                  <input type="text" name = "realname" class="my-form-control">
                </div>
                <div class="form-group">
                  <label for="">Age*</label>
                  <input  class="my-form-control" name="age">
                </div>

                <div class="form-group">
                  <label for="" >I am a*</label>
                  <div class="option">
                    <div class="s-input mr-3">
                      <input type="radio" name="gender1" id="males1" value ="Male"><label for="males1">Man</label>
                    </div>
                    <div class="s-input">
                      <input type="radio" name="gender1" id="females1" value = "Female"><label for="females1">Woman</label>
                    </div>
                  </div>
                </div>
              

                <div class="form-group">
                  <label for="">My favourite songs  (Use commas to separate)</label>
                  <input type="text" name="songs" class="my-form-control" >
                </div>
                <div class="form-group">
                  <label for="">My favourite singers  (Use commas to separate)</label>
                  <input type="text" name="singers" class="my-form-control" >
                </div>
               
                <div class="form-group">
                  <label for="">My favourite movies  (Use commas to separate)</label>
                  <input type="text" name="movies" class="my-form-control">
                </div>
                <div class="form-group">
                  <label for="">My favourite actors  (Use commas to separate)</label>
                  <input type="text" name="actors" class="my-form-control">
                </div>
                
                <div class="form-group">
                  <label for="">My favourite actresses  (Use commas to separate)</label>
                  <input type="text" name="actresses" class="my-form-control">
                </div>

                <div class="form-group">
                  <label for="">My favourite books  (Use commas to separate)</label>
                  <input type="text" name="books" class="my-form-control">
                </div>

                <div class="form-group">
                  <label for="">My celebrity crush</label>
                  <input type="text" name="crush" class="my-form-control">
                </div>

                <div class="form-group">
                  <label for="">My favourite foods and drinks  (Use commas to separate)</label>
                  <input type="text" name="foods" class="my-form-control">
                </div>

                <button class="custom-button" data-toggle="modal" formaction="/register/submit-form">Submit your profile
                </button>

              </form>
               
           
         
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ========== Login & Registation Section ========== -->

  <!-- Modal -->
  <div class="modal fade" id="email-confirm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="top-img">
            <img src="/assets/images/c-image.png" alt="">
          </div>
          <div class="main-content">
            <h4 class="title">
              Check Your Inbox, Please!
            </h4>
            <p>
              A link to verify account has been sent to the email supplied. Please open the link and follow the prompts
              to verify
              email.
            </p>
            <p class="send-again">
              Didn't get e-mail? <a href="#">
                Send it again
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="/assets/js/submit-form.js"></script>
  <script src="/assets/js/jquery-3.3.1.min.js"></script>
  <script src="/assets/js/modernizr-3.6.0.min.js"></script>
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/heandline.js"></script>
  <script src="/assets/js/isotope.pkgd.min.js"></script>
  <script src="/assets/js/magnific-popup.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/wow.min.js"></script>
  <script src="/assets/js/countdown.min.js"></script>
  <script src="/assets/js/odometer.min.js"></script>
  <script src="/assets/js/viewport.jquery.js"></script>
  <script src="/assets/js/nice-select.js"></script>
  <script src="/assets/js/main.js"></script>
</body>


<!-- Mirrored from pixner.net/peyamba/peyamba/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Feb 2021 09:40:37 GMT -->
</html>