.spinner {
  position: absolute;
  width: 5em;
  height: 5em;
  margin-bottom: 50px;
  margin-left: 530px;
}

#spinnerId {
  display: inline;
}

.spinner div {
  box-sizing: border-box;
  position: absolute;
  width: 5em;
  height: 5em;
  border: 10px solid transparent;
  border-top-color: #ad60f5;
  border-radius: 50%;
  animation: spinnerOne 1.2s linear infinite;
}

.spinner div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: #ad60f5;
  animation: spinnerTwo 1.2s linear infinite;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }

  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }

  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}

@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
  }

  50% {
    transform: rotate(180deg);
    border-width: 10px;
  }

  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}
